{{ ansible_managed | comment }}
# https://github.com/sipeed/NanoKVM/blob/main/kvmapp/system/update-nanokvm.py#L22
# https://github.com/sipeed/NanoKVM/blob/main/server/service/application/service.go#L3
cdn.sipeed.com
